
h1 {
  text-align: center;
  font-family: lexend

.startb {
  transition-duration: 0.4s;
  
}

.startb:hover {
  background-color: #16a9e9; /* Green */
  color: white;
}

.button {
  align: center;
  transition-duration: 0.4s;
  background-color: #ffffff; /* White */
  border-color: #04AA6D;
}

.button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}
